<!DOCTYPE HTML>
<html>
<head>
    <title>/Registration page</title>
    <link rel="Stylesheet" type="text/css" href="css/bootstrap.css">
   </head>
   <body>
    <div class="container">
        <div class="row col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading text-">
                    <h1>Registration Form</h1>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                             <label for="firstName">First Name</label>
                             <input type="text" class="form-control" id="firstName"/>
                            </div>
                            <div class ="form-group">
                                <label for ="email">last Name</label>
                                <input type ="text" class="form-control" id="lastName"/>
                            </div>
                            <div class="form-group">
                                <label for="email">Gender</label>
                            <div>
                                <label for="male" class="radio-inline"><input type="radio" name="gender" id="male">Female</label>
                                <label for="male" class="radio-inline"><input type="radio" name="gender" id="Female">male</label>
                                <label for="male" class="radio-inline"><input type="radio" name="gender" id="others">Others</label>
                            </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type ="text" class="form-control" id="email"/>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type ="text" class="form-control" id="password"/>
                            </div>
                            <div class="form-group">
                                <label for="phone number">Phone Number</label>
                                <input type ="text" class="form-control" id="phone number"/>
                            </div>
                            </form>
                        </div>
                    <div class="panel-footer text-right">
                        <small>&copy; accio</small>
                        </div>
                    </div>